body{
  box-sizing: border-box;
  margin: 0;
  height: max-content;

}
*{
  scrollbar-width:none;
}

@font-face{
  font-family: "Stfu";
  src:local("Stfu-Regular"),
  url('./assets/fonts/sfui/SFUIText-Regular.ttf') 
}